Checks:
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,

  -misc-non-private-member-variables-in-classes,

  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,

  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,

  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-init-variables,

  -hicpp-member-init

UseColor: true
WarningsAsErrors: "*"
FormatStyle: "file"
